<h1>Field</h1>
<% @series.each do |series| %>
  <article>
    <h2><%= link_to series.title, field_path(slug: series.slug) %></h2>
    <% if series.description.present? %>
      <p><%= series.description %></p>
    <% end %>
    <span><%= series.kind %></span>
  </article>
<% end %>
